langchain
langchain-openai
langchain-community
langsmith
requests
pandas
pydantic
pydantic-settings
python-dotenv
chromadb
tiktoken
fastapi
uvicorn
azure-identity
pywin32
python-pptx
pypdf
python-docx
langsmith
openevals
python-dotenv